{% extends 'base.html' %}

{% block content %}
    <h1>post list</h1>
    {% for post in posts %}
        <div class="card">
            <div class="card-body">
                <a href="{% url 'post_detail' id=post.id %}"><h5 class="card-title">{{ post.title | safe }}</h5></a>
                <p>{{ post.author }}</p>
                <p>{{ post.created_date }}</p>
                <p>{{ post.text | linebreaksbr | truncatechars:200 }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock%}